.clear-all {
  all: initial;
}

.grid {
  display: grid;
}

.grid img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

/*Header*/

.header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "logo nav";
  height: 80px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: brown;
}

.logo {
  grid-area: logo;
  font-size: 24px;
  font-weight: bold;
}

.nav {
  grid-area: nav;
  justify-self: end;
}

.nav a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.nav a:hover {
  color: #e74c3c;
}

/*Humburger menu*/

.nav-links {
  display: none;
}

.mobile-menu-icon {
  display: block;
  font-size: 30px;
  color: white;
  background-color: rgb(114, 127, 123);
  border: none;
  outline: none;
}

nav li {
  color: white;
  text-align: center;
  /* padding: 20px; */
  width: 100%;
  transition: all 0.5 ease;
}

.nav-links-mobile {
  position: absolute;
  display: block;
  text-align: center;
  list-style: none;
  background-color: #a4a4a4;
  left: 0;
  right: 0;
  top: 80px;
  padding: 20px;
  transition: all 0.5s ease-out;
}

.nav-links-mobile li:not(last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .mobile-menu-icon {
    display: none;
  }

  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .nav li:not(last-child) {
    margin-right: 30px;
  }
}

/*Main section*/

main {
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .grid.about-section {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/*Footer*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  color: white;
}
